In [50]:
import pandas as pd
import numpy as np


terror = "Terrorism.csv"
df = pd.read_csv(terror, encoding = "Latin")


df2 = df[["iyear","imonth", "country_txt", "region_txt", "city", "attacktype1_txt", "targtype1_txt","nkill","nwound"]]


renamed_df = df2.rename(columns={"iyear": "Year","imonth": "Month", "country_txt": "Country", 
                "region_txt":"Region", "city":"City", "attacktype1_txt": "Attack Type",
                "targtype1_txt":"Target_Type","nkill":"Number Killed","nwound":"Number Wounded"})
renamed_df['Year'] = renamed_df['Year'].astype(str)
renamed_df['Month'] = renamed_df['Month'].astype(str)
renamed_df.dtypes

C:\Users\khyman003\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (61,63,79,114,115) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Year               object
Month              object
Country            object
Region             object
City               object
Attack Type        object
Target_Type        object
Number Killed     float64
Number Wounded    float64
dtype: object

In [71]:
#Break up dataframes by year
FY2012DF  = renamed_df.loc[renamed_df["Year"] == "2012", :]
FY2013DF  = renamed_df.loc[renamed_df["Year"] == "2013", :]
FY2014DF  = renamed_df.loc[renamed_df["Year"] == "2014", :]
FY2015DF  = renamed_df.loc[renamed_df["Year"] == "2015", :]
FY2016DF  = renamed_df.loc[renamed_df["Year"] == "2016", :]


#Group by region and count how many attacks that year
Region2012 = FY2012DF.groupby(["Region"]).count()
Region2013 = FY2012DF.groupby(["Region"]).count()
Region2014 = FY2012DF.groupby(["Region"]).count()
Region2015 = FY2012DF.groupby(["Region"]).count()
Region2016 = FY2012DF.groupby(["Region"]).count()
Region2017 = FY2012DF.groupby(["Region"]).count()

,Year,Month,Country,City,Attack Type,Target_Type,Number Killed,Number Wounded
Region,,,,,,,,
Central America & Caribbean,1,1,1,1,1,1,1,1
Central Asia,12,12,12,12,12,12,12,12
East Asia,4,4,4,4,4,4,4,3
Eastern Europe,173,173,173,173,173,173,172,172
Middle East & North Africa,2409,2409,2409,2409,2409,2409,2370,2324
North America,39,39,39,39,39,39,39,39
South America,133,133,133,133,133,133,133,132
South Asia,3803,3803,3803,3803,3803,3803,3735,3696
Southeast Asia,587,587,587,587,587,587,582,579
Sub-Saharan Africa,1168,1168,1168,1168,1168,1168,1073,1014